In [ ]:
#homework 3 part B

# Name = Abhilash Sharma

# CIN = 306656511

In [30]:
#importing the library of pandas

import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np
from sklearn.model_selection import cross_val_score

df=pd.DataFrame()

df=pd.read_csv("Credit.csv")

df

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
1    106.025   6645     483      3   82         15        1      903
2    104.593   7075     514      4   71         11        0      580
3    148.924   9504     681      3   36         11        0      964
4     55.882   4897     357      2   68         16        1      331
5     80.180   8047     569      4   77         10        0     1151
6     20.996   3388     259      2   37         12        0      203
7     71.408   7114     512      2   87          9        0      872
8     15.125   3300     266      5   66         13        0      279
9     71.061   6819     491      3   41         19        1     1350
10    63.095   8117     589      4   30         14        1     1407
11    15.045   1311     138      3   64         16        0        0
12    80.616   5308     394      1   57          7        1      204
13    43.682   6922     511      1   49          9        1     1081
14    19.144   3291     269      2   75         13        0      148
15    20.089   2525     200      3   57         15        1        0
16    53.598   3714     286      3   73         17        1        0
17    36.496   4378     339      3   69         15        1      368
18    49.570   6384     448      1   28          9        1      891
19    42.079   6626     479      2   44          9        0     1048
20    17.700   2860     235      4   63         16        0       89
21    37.348   6378     458      1   72         17        0      968
22    20.103   2631     213      3   61         10        1        0
23    64.027   5179     398      5   48          8        1      411
24    10.742   1757     156      3   57         15        0        0
25    14.090   4323     326      5   25         16        1      671
26    42.471   3625     289      6   44         12        0      654
27    32.793   4534     333      2   44         16        0      467
28   186.634  13414     949      2   41         14        1     1809
29    26.813   5611     411      4   55         16        0      915
..       ...    ...     ...    ...  ...        ...      ...      ...
370   35.610   6135     466      4   40         12        0      992
371   39.116   2150     173      4   75         15        0        0
372   19.782   3782     293      2   46         16        0      840
373   55.412   5354     383      2   37         16        1     1003
374   29.400   4840     368      3   76         18        1      588
375   20.974   5673     413      5   44         16        1     1000
376   87.625   7167     515      2   46         10        0      767
377   28.144   1567     142      3   51         10        1        0
378   19.349   4941     366      1   33         19        1      717
379   53.308   2860     214      1   84         10        1        0
380  115.123   7760     538      3   83         14        0      661
381  101.788   8029     574      2   84         11        1      849
382   24.824   5495     409      1   33          9        0     1352
383   14.292   3274     282      9   64          9        1      382
384   20.088   1870     180      3   76         16        0        0
385   26.400   5640     398      3   58         15        0      905
386   19.253   3683     287      4   57         10        0      371
387   16.529   1357     126      3   62          9        0        0
388   37.878   6827     482      2   80         13        0     1129
389   83.948   7100     503      2   44         18        0      806
390  135.118  10578     747      3   81         15        1     1393
391   73.327   6555     472      2   43         15        0      721
392   25.974   2308     196      2   24         10        0        0
393   17.316   1335     138      2   65         13        0        0
394   49.794   5758     410      4   40          8        0      734
395   12.096   4100     307      3   32         13        1      560
396   13.364   3838     296      5   65         17        0      480
397   57.872   4171     321      5   67         12        1      138
398   37.728   2525     192      1   44         13        1        0
399   18.701   5524     415      5   64          7        0      966

[400 rows x 8 columns]

In [21]:
feat_col=['Income','Limit','Rating','Cards','Age','Education','Married']

X=df[feat_col]

print(X.shape)

X.head()

(400, 7)

    Income  Limit  Rating  Cards  Age  Education  Married
0   14.891   3606     283      2   34         11        1
1  106.025   6645     483      3   82         15        1
2  104.593   7075     514      4   71         11        0
3  148.924   9504     681      3   36         11        0
4   55.882   4897     357      2   68         16        1

In [22]:
y=df['Balance']

print(y[::20])
print(y.shape)
y.head()

0       333
20       89
40       50
60      631
80      162
100     298
120       0
140    1425
160     836
180     423
200     829
220    1246
240     148
260     345
280     541
300     580
320       5
340     320
360     712
380     661
Name: Balance, dtype: int64
(400,)

0    333
1    903
2    580
3    964
4    331
Name: Balance, dtype: int64

In [23]:
#Splitting the data into the test and training samples
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.24,random_state=4)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(304, 7)
(96, 7)
(304,)
(96,)

In [24]:
#Using linear regression to train the model
lin_reg=LinearRegression()

lin_reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [25]:
print(lin_reg.intercept_)

print(lin_reg.coef_)

-429.5609688670511
[ -7.52790609   0.05725541   3.09667887  10.7488698   -1.72874937
   0.53768504 -41.47581319]

In [26]:
#predicting on the test samples
y_pred=lin_reg.predict(X_test)

print(y_pred)

[ 1.40192822e+03  3.72390498e+02  3.09606997e+02  7.75587837e+02
  3.63641910e+02  9.54490329e+02  3.20745279e+02 -2.32591690e+02
  3.99394342e+02  6.01919205e+02 -2.52478552e+02  3.82362570e+02
  4.72524424e+02  7.15924136e+02  1.11080816e+01  6.76777695e+02
 -1.10205182e+02  2.34123414e+02 -2.17604376e+02  1.36106372e+03
  3.62716990e+02 -7.18441620e+01  3.46590403e+02 -3.48468421e+00
 -1.98897875e+02 -3.79979558e+01  7.87248445e+02  3.41641943e+02
  6.76645933e+02 -5.36248977e+01  7.73056436e+02  1.50270904e+01
  9.34623394e+02  3.80185173e+02  7.48107862e+02 -2.85720687e+02
  1.00583355e+03  5.07594510e+02 -1.40361418e+02  1.10973338e+03
  1.08474720e+03  3.98005654e+02  6.40559128e+02  9.08998220e+02
  6.99056037e+02  7.92919368e+02  3.82003132e+02  9.70862036e+02
  3.34390882e+02  1.16908059e+03  2.43605505e+02  2.78833488e+02
 -6.23362942e-01  3.85459830e+01  2.49931072e+02  8.25222693e+02
 -1.98555175e+02  5.71140218e+01  1.17285043e+03  9.81760238e+02
 -6.84711889e+00  2.70524823e+02  1.08559503e+03  7.15655323e+02
  1.30819411e+02  5.64236980e+02  8.30184087e+02  1.49315369e+03
  8.63297507e+02  4.74956374e+02  9.84021756e+01  6.89313125e+02
  9.13786870e+02  4.31100337e+02  8.78305055e+02 -1.75046527e+02
 -1.04907554e+02  1.40496710e+03  1.01565064e+03  6.65436313e+01
  1.92415294e+02  4.70577920e+02  1.10527713e+03  8.87580838e+02
  1.06491174e+03  8.09197398e+02  4.77326285e+02  8.75818625e+02
  1.03458765e+03 -1.92109932e+02 -1.47672260e+01  9.64020835e+02
  5.05529492e+02  1.08659975e+03 -2.63344522e+02  9.93883438e+01]

In [28]:
mse = metrics.mean_squared_error(y_test, y_pred)

rmse = np.sqrt(mse)

print(rmse)

161.51385491175319

In [32]:
# using cross validation for the last part of B
mse_list=cross_val_score(lin_reg,X,y,cv=10,scoring='neg_mean_squared_error')

print(mse_list)

[-23646.90415342 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205938 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212176 -23204.9474346 ]

In [33]:
mse_listp=-mse_list
rmse_list=np.sqrt(mse_listp)
print(rmse_list)

[153.7754992  178.89394627 188.31527914 193.20353826 119.75525901
 183.38039983 177.85385343 111.76315739 144.04725656 152.331702  ]

In [35]:
print(rmse_list.mean())

160.33198910744073

In [ ]:
#finished part B of HW-3